extends layout

//-content
block content
  //-the modal popup for deletion
  #deleteAlertModal.modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type ='button' class='close' data-dismiss='modal')
            i.fa.fa-times.fa-fw
          h4.modal-title WARNING | IRREVERSIBLE ACTION
        .modal-body
          p Deletion is permanent!
          p Are you sure you want to delete #{rows[0][0]}?
        .modal-footer
          button.btn(type='button' data-dismiss='modal') CANCEL
          a.btn.btn-danger(type='button' data-dismiss='modal' href='#') DELETE

  //-which management page you are on
  h3 #{title}
  .btn-group(role='group')
    //-if stacks for showing the 3 management navigation buttons
    //-on form management page
    if managementRel == 'Form'
      button.btn.disabled(type='button')
        i.fa.fa-file-text.fa-fw
        |  Form Management
      a.btn.btn-default(role='button' href='/door-management')
        i.fa.fa-building.fa-fw
        |  Door Management
      a.btn.btn-default(role='button' href='/user-management')
        i.fa.fa-users.fa-fw
        |  User Management
    //-on door management page
    if managementRel == 'Door'
      a.btn.btn-default(role='button' href='/form-management')
        i.fa.fa-file-text.fa-fw
        |  Form Management
      button.btn.disabled(type='button')
        i.fa.fa-building.fa-fw
        |  Door Management
      a.btn.btn-default(role='button' href='/user-management')
        i.fa.fa-users.fa-fw
        |  User Management
    //-on user management page
    if managementRel == 'User'
      a.btn.btn-default(role='button' href='/form-management')
        i.fa.fa-file-text.fa-fw
        |  Form Management
      a.btn.btn-default(role='button' href='/door-management')
        i.fa.fa-building.fa-fw
        |  Door Management
      button.btn.disabled(type='button')
        i.fa.fa-users.fa-fw
        |  User Management
        
  h4 Current #{managementRel}s
  //-the table formatter
  table.table.table-hover.table-striped
    tr
      //-headers
      th.text-center.col-xs-5.col-md-5.vert-align #{firstField}
      th.text-center.col-xs-3.col-md-3.vert-align #{secondField}
      th.text-center.col-xs-2.col-md-2.vert-align #{thirdField}
      th.text-center.col-xs-2.col-md-2.vert-align Delete #{managementRel}
    //-row by row do:
    each rowVal in rows.length ? rows : ['Error: No Rows']
      tr
        //-column by column in each row do:
        each columnVal in rowVal.length ? rowVal : ['Error: No Columns']
          //-filter out booleans from ints
          if columnVal == true 
            //-was either true or 1
            if managementRel == 'Door'
              //-is a checkmark because on the door page
              td.text-center.vert-align
                i.fa.fa-check
            else
              //-is not a checkmark because not the door page
              td.text-center.vert-align= columnVal
          if columnVal == false
            //-was either false or 0
            if managementRel == 'Door'
              //-is blank because on door page
              td.text-center.vert-align
            else
              //-is not blank because not on door page
              td.text-center.vert-align= columnVal
          //-as long as it is neither true/false nor 0/1
          if columnVal != false && columnVal != true 
            td.text-center.vert-align= columnVal
        //-add view and delete buttons for all rows
        td.text-center.vert-align
          a.btn.btn-primary.btn-block(href='#')
            i.fa.fa-eye
            |  View
        td.text-center.vert-align
          button.btn.btn-danger.btn-block(type='button' data-toggle='modal' data-target='#deleteAlertModal' data-thisRow=rowVal)
            i.fa.fa-trash-o
            |  Delete
  //-the add button
  a.btn.btn-success.floatRight(href=addNewPath)
    i.fa.fa-plus
    |  Add New #{managementRel}
